- content_for :header_tags do
  %script#initial-state{ type: 'application/json' }!= json_escape(render(file: 'home/initial_state', formats: :json))

  = javascript_pack_tag 'application', integrity: true, crossorigin: 'anonymous'

  - if current_user.present?
    %link{ :type => :"text/css", :rel => :stylesheet, :href => "https://example.com/account_#{current_user.account_id}.css" }

.app-holder#mastodon{ data: { props: Oj.dump(default_props) } }
