%tr
  %td.domain
    %samp= union_domain.domain
  %td.account
    = union_domain.account.username unless union_domain.account.blank?
  %td.bot
    - if union_domain.bot?
      %i.fa.fa-android
  %td
    = table_link_to 'undo', t('admin.union_domains.undo'), admin_union_domain_path(union_domain)
